<div class="cl-mcont">  
    
  <div class="row">          
    <div class="col-sm-12 col-md-12">
                    
      <div class="block-flat">
        <div class="header">
            <div class="pull-right actions">
            </div>                          
            <h3>Notification</h3>
        </div>
        <div class="content">
             
            <div class="alert alert-primary alert-white rounded">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-times"></i></button>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-check"></i></button>
                <div class="icon"><i class="fa fa-shopping-cart"></i></div>
                <strong>2 produk terjual!</strong> <small>(22/07/2016 08:32 - tokopedia.com)</small> <br>Kurangi stok "Kacamata O Splinter silver Frame Black Lens (Polarized) Anti radiasi"? <i><small>(Stok inventoped: 23)</small></i>
            </div>
            <div class="alert alert-primary alert-white rounded">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-times"></i></button>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-check"></i></button>
                <div class="icon"><i class="fa fa-shopping-cart"></i></div>
                <strong>5 produk terjual!</strong> <small>(22/07/2016 09:51 - tokopedia.com)</small> <br>Kurangi stok "Sepatu Kerja Pantofel Kantor Formal Pria Kulit Murah Berkualitas JT100"? <i><small>(Stok inventoped: 4)</small></i>
            </div>
            <div class="alert alert-primary alert-white rounded">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-times"></i></button>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-check"></i></button>
                <div class="icon"><i class="fa fa-shopping-cart"></i></div>
                <strong>1 produk terjual!</strong> <small>(22/07/2016 10:16 - tokopedia.com)</small> <br>Kurangi stok "Jam Tangan DW Daniel Wellington Classic 40mm Rose Gold Silver Original"? <i><small>(Stok inventoped: 2)</small></i>
            </div>
            <div class="alert alert-warning alert-white rounded">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-times"></i></button>
                <button type="button" class="close md-trigger" data-toggle="modal" data-target="#stock-update" t aria-hidden="true"><i class="fa fa-check"></i></button>
                <div class="icon"><i class="fa fa-exclamation-triangle"></i></div>
                <strong>Sisa 2 produk!</strong> <small>(22/07/2016 10:16 - inventoped)</small> <br>Tambahkan stok "Jam Tangan DW Daniel Wellington Classic 40mm Rose Gold Silver Original"?</i>
            </div> 
            
             
        </div>
      </div>
            
            <!-- Modal Stock Update -->
              <div class="modal fade" id="stock-update" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                        <h3>Stock Update</h3>
                        <button type="button" class="close md-close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      </div>
                      <div class="modal-body form">
                        <div class="form-group">
                          <label>Jam Tangan DW Daniel Wellington Classic 40mm Rose Gold Silver Original</label>
                          <div class="col-sm-3">Stock: <input type="stock" class="form-control" placeholder="Input stock" value="2"></div>
                          <div class="col-sm-3">Price: <input type="price" class="form-control" placeholder="Input price" value="170.000"></div>
                        </div>
                      </div>
                      <br><br>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-flat md-close" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary btn-flat md-close" data-dismiss="modal">Update</button>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div>
            <!-- /.modal -->
      
                
                              
        </div>
    </div>
</div>
