<div class="cl-mcont">
<!--     <div class="page-head">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Inventory</a></li>
          <li class="active">Manage Produk</li>
        </ol>
    </div>     -->  
    <div class="row m-prod-inv" ng-controller="ManageProductController" ng-scope>
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">
                    <h3>Manage Product</h3>
                </div>
                <div class="cl col-md-9">    
					<a href="#/inventory/tambah_produk"><button data-popover="popover" type="button" class="btn btn-success btn-xs" data-original-title="Add a new product" data-content="Tambahkan produk yang akan kamu jual." data-placement="bottom" data-trigger="hover"><i class="fa fa-plus-circle"></i> New Product</button></a>        
                    
				</div>
<!-- 				<div class="cl col-sm-3 no-padding">
					<input type="text" class="form-control search" placeholder="Search product" />
				</div> -->
				<br><br>
				<div class="content">
                    <div id="exportable">
					<table class="border hover">
						<thead>
							<tr>
								<th class="text-center" width="250px"><b>Product Name</b></th>
								<th class="text-center" width="100px"><b>Price</b></th>
								<th class="text-center" width="80px"><b>Stock</b></th>
								<th class="text-center" width="80px"><b>Available?</b></th>
								<th class="text-center" width="160px"><b>Action</b></th>
							</tr>
						</thead>
						<tbody class="no-border-y">
							<tr class="odd gradeA" ng-repeat="prod in product.list">
								<td ng-bind="prod.product_name"></td>
								<td class="center">
									<input type="price" placeholder="Product Price" value="{{prod.price}}" class="form-control text-right">
								</td>
								<td class="center">
									<input type="stock" placeholder="Stock" value="{{prod.stock_amount}}" class="form-control text-right">
								</td>
								<td class="text-center">
									<div class="switch switch-mini">
										<input type="checkbox" ng-checked="{{prod.product_status}}">
									</div>
								</td>
								<td class="center">
									<a class="label" href="{{product.edit_prod + prod.local_p_id}}">
										<button type="button" data-toggle="tooltip" data-original-title="Edit Produk" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit</button>
									</a>
<!-- 									<a class="label" href="{{product.copy_prod + prod.local_p_id}}">
										<button type="button" data-toggle="tooltip" data-original-title="Copy Produk" class="btn btn-primary btn-xs"><i class="fa fa-copy"></i> Copy</button>
									</a> -->
                                	<button type="button" data-toggle="tooltip" data-original-title="Delete Produk" class="btn btn-danger btn-xs" ng-click="del_product(prod.local_p_id)"><i class="fa fa-times"></i> Delete</button>
								</td>
							</tr>
						</tbody>
					</table>
                    </div>
					<div ng-if="product.row > 20">
						<ul class="pagination pagination-sm">
							<li class="disabled"><a href="#">&laquo;</a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">&raquo;</a></li>
						</ul>
					</div>
				</div>
				<br>
            </div>
        </div>
    </div>
</div>
